<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBd-XvS0RY7kOJgP3yfDtt9i0VZ2qmJkbY</string>
	<key>GCM_SENDER_ID</key>
	<string>415579853261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libApp</string>
	<key>PROJECT_ID</key>
	<string>library-app-7deed</string>
	<key>STORAGE_BUCKET</key>
	<string>library-app-7deed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415579853261:ios:a9750a26ab0bd414e3b484</string>
</dict>
</plist>